.user-component__subtitle span {
  width: 12px;
  height: 12px;
  border: 1.7px solid tomato;
  border-radius: 50%;
  color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  margin-left: 5px;
  font-weight: 600;
}

.user-component__column span i {
  color: rgba(0, 0, 0, 0.6);
}

.opacity0 {
  opacity: 0;
}

.more-icon {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  flex-direction: column;
}

.more-icon__row {
  display: flex;
  justify-content: space-between;
}

.more-icon__row:last-child {
  margin-top: 20px;
}

.more-suggestions__title {
  margin-bottom: 20px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icons__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.more-suggestions__icons__icon img {
  height: 70px;
  width: 70px;
  border-radius: 30%;
  margin-bottom: 10px;
}
